@use '../abstracts' as *;
body {
    font-family: $body-font;
    font-size: 16px;
    line-height: 24px;
    color: $black;
}

h1 {
    font-family: $heading-font;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h2 {
    font-family: $heading-font;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

h3 {
    font-family: $heading-font;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 14px;
}

h4 {
    font-family: $heading-font;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

p {
    font-family: $body-font;
    font-size: 16px;
    margin-bottom: 16px;
}